@media screen and (max-width: 800px) {
    .right-nav .nav-item-list {
        display: none !important;
    }
    nav .right-nav .mobile_item-list {
        display: flex !important;
    }
    .footer-contents {
        padding-top: 150px;
    }
}

* {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Cerebri Sans,sans-serif";
}

body {
    margin: 0;
}


.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 30px;
}

/* // NAVIGATION SECTION // */

nav {
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: transparent;
    z-index: 999;
}

nav .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

nav .right-nav .nav-item-list {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

nav .right-nav .nav-item-list .nav-item {
    text-decoration: none;
    color:#6c757d;
    font-family: "Mandali", sans-serif;
}

nav .right-nav .nav-item-list .nav-item.active {
    position: relative;
    color: #1ce1ac;
}

nav .right-nav .nav-item-list .nav-item.active::after {
    content: "";
    position: absolute;
    bottom: -3px;
    left: 10px;
    right: 10px;
    border-radius: 10px;
    border-bottom: 2px solid #1ce1ac;
}

nav .right-nav .nav-item-list .nav-item:hover {
    color: #1ce1ac !important;
    transition: all 0.3s;
    font-size: 16px;
    font-weight: 500;
}

nav .right-nav i {
    font-size: 22px;
    color:black;
}

nav .right-nav .mobile_item-list {
    display: none;
}
/* // HERO SECTION // */

.hero-box {
    background-image: url('/assets/images/hero-bg.png');
    width: 100%;
    background-size: cover;
    padding: 200px 0px 40px;
}

.hero-box .hero-top-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 180px;
    justify-content: center;
}

.hero-box .hero-text-container {
    display: flex;
    flex-direction: column;
    max-width: 500px;
}

.hero-box .hero-text-container .hero-discount-box {
    margin-bottom: 20px;
}

.hero-box .hero-text-container .hero-discount-box p {
    background-color: rgb(248, 249, 250);
    border: 1px solid rgb(236, 239, 242);
    width: fit-content;
    padding: 0px 10px;
    border-radius: 5px;
}


.hero-header, .hero-description {
    margin-bottom: 30px;
}


.hero-box .hero-image img {
    /* max-width: 10; */
    max-height: 350px;
}

.hero-box .hero-buttons-container {
    display: flex;
    align-items: center;
}

.hero-box .hero-buttons-container button {
    height: 40px;
    border-radius: 100px;
    border: none;
    outline: none;
    font-family: "Mandali", sans-serif;
    font-size: 16px;
    padding: 0px 15px;
    min-width: 150px;
    display: flex;
    align-items: center;
    font-weight: 500;
}

.hero-box .hero-buttons-container .about-button {
    background: linear-gradient(to right, #1ce1ac 0%, #8cf1d6 100%);
    color: #fff;
}

.hero-box .hero-buttons-container .about-button i {
    margin-left: 10px;
    font-size: 10px;
}


.hero-box .hero-buttons-container .live-demo-button {
    background-color: transparent;
    color:#6c757d;
}

.hero-box .hero-buttons-container .live-demo-button i {
    font-size: 40px;
    margin-left: 10px;
    color:#6c757d;
}

.hero-box .hero-box-footer-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.hero-box .hero-box-footer-list .hero-box-footer img {
    width: 150px;
}

/* // ABOUT SECTION // */

.about-box {
    padding: 80px 60px 0px;
    display: flex;
    justify-content: center;
}

.about-box .about-header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 100px;
}

.about-box .about-header-cont {
    max-width: 550px;
    flex-wrap: wrap;
}

.about-box .about-section-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about-box .about-section-list .about-section {
    position: relative;
    z-index: 2;
    margin-bottom: 60px;
    width: 350px;
    height: fit-content;
}

.about-box .about-section-list .about-section .about-icon-box::after {
    content: "";
    position: absolute;
    left: -16px;
    top: -36px;
    border-radius: 30% 70% 70% 30% / 50% 50% 50% 50%;
    height: 100px;
    width: 100px;
    background-color: #1ce1ac;
    opacity: 0.15;
    z-index: -1;
}

.about-info-header {
    font-weight: 500;
    font-size: 22px;
}

.default-text {
    margin-bottom: 20px;
}

.more-about-btn {
    font-family: "Mandali", sans-serif;
    color: red;
    text-decoration: none;
}

.more-about-btn i {
    margin-left: 10px;
}

/* // Project box // */
.project-box {
    padding: 80px 0px;
    flex-wrap: wrap
}

.project-box .project-header {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
}

.project-box .project-header-cont {
    text-align: center;
    max-width: 500px;
}

.project-box .project-navbar-cont {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    max-width: 1100px;
}

.project-box .project-navbar-cont .project-navbar-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 0;
}

.project-box .project-navbar-cont .project-navbar-list .project-navbar-item {
    list-style: none;
    background-color: #f8f9fa;
    padding: 2px 15px;
    border-radius: 5px;
    color: #6c757d;
    font-family: "Mandali", sans-serif;
}

.project-box .project-navbar-cont .project-navbar-list .project-navbar-item.active {
    background-color: #1ce1ac;
    color: #fff;
}

.project-box .project-list-cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 20px;
    column-gap: 20px;
}

.project-box .project-list-cont .project-item {
    max-width: 350px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-box .project-list-cont .project-item .project-item-image img {
    width: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.project-box .project-list-cont .project-item .project-item-description {
    padding: 20px 20px;
}

.project-box .project-list-cont .project-item .project-item-description h1 {
    font-weight: 500;
}

.project-box .project-list-cont .project-item .project-item-description p {
    margin: 0;
}

/* // TESTIMONIAL SECTION // */

.testimonial {
    padding: 80px 0px;
    flex-wrap: wrap
}

.testimonial .testimonial-header {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.testimonial .testimonial-header .testimonial-header-cont {
    max-width: 550px;
}

.testimonial .testimonial-header .testimonial-header-cont h6 {
    font-weight: 500;
    margin-bottom: 20px
}

.testimonial .testimonial-header .testimonial-header-cont h1 {
    margin-bottom: 20px
}

.testimonial .testimonial-content-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 40px;
}

.testimonial .testimonial-content {
    position: relative;
    max-width: 280px;
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.testimonial .testimonial-content .testimonial-author p {
    margin: 0;
}

.quote-icon-box {
    position: absolute;
    bottom: 0;
    right: 0;
}

.testimonial .testimonial-page-location {
    display: flex;
    justify-content: center;
}

.testimonial .testimonial-page-location .page-list i {
    margin-left: 6px;
    font-size: 8px;
    color: rgba(52, 58, 64, 0.212);
}

.testimonial .testimonial-page-location .page-list i.current-page {
    color: rgb(52, 58, 64);
}

/* // COUNTER SECTION // */

.counter {
    padding: 80px 10px;
}

.counter .counter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.counter .counter-list .counter-list-contents {
    display: flex;
    gap: 140px;
    flex-wrap: wrap;
    justify-content: center;
}

/* // TEAM MEMBERS // */

.team-members {
    padding: 80px 0px 200px 0px;
}

.team-members .team-members-header {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.team-members .team-members-header .team-members-header-cont {
    max-width: 550px;
}

.team-members .team-members-list .team-members-list {
    display: flex;
    justify-content: center;
    width: fit-content;
}

.team-members .team-members-list .team-members-list-cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.team-members .team-members-list .team-members-list-cont .team-member {
    max-width: 300px;
}

.team-members .team-members-list .team-members-list-cont .team-member .team-image {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    background-color: #f2f4f6;
}

/* // FOOTER SECTION // */

footer {
    position: relative;
    padding: 200px 0;
    background-image: url('/assets/images/footer-light-bg.png');
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
}

footer .footer-contents {
    display: flex;
    flex-wrap: wrap;
    gap: 120px;
    justify-content: center;
    z-index: 122;
}

footer .footer-contents .right-footer .information-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

footer .footer-contents .right-footer .information-list .information {
    width: 200px;
}

footer .footer-contents .right-footer .information-list .information h1 {
    margin-bottom: 20px;
}

footer .footer-contents .right-footer .information-list .information ul {
    padding: 0;
}

footer .footer-contents .right-footer .information-list .information ul li {
    position: relative;
    list-style: none;
    color:#6c757d;
    font-family: "Mandali", sans-serif;
    cursor: pointer;
}

footer .footer-contents .right-footer .information-list .information ul li:hover {
    color: black;
    transition: all 0.3s ease-in-out;
    margin-left: 15px;
}

footer .footer-contents .right-footer .information-list .information ul li:hover::before {
    content: "●";
    position: absolute;
    left: -15px;
    color: #1ce1ac;
}

/* // NEWSLETTER SECTION // */

footer .newsletter-container {
    position: absolute;
    top: -100px;
    width: 100%;
}

footer .newsletter-container .container {
    background-color: #343a40;
    border-radius: 5px;
    padding: 50px;
    min-height: 100px;
    display: flex;
    align-items: center;
    background-image: url('/assets/images/cta-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    flex-wrap: wrap;
    justify-content: space-between;
    gap:40px;
}

footer .newsletter-container .left-side {
    max-width: 500px;
}

footer .newsletter-container .left-side h1 {
    color: #fff;
    font-size: 26px;
}   

footer .newsletter-container .left-side p {
    font-size: 16px;
    font-family: "Mandali", sans-serif;
    color: #adb5bd;
}

footer .newsletter-container .right-side .input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px 10px;
    border-radius: 5px;
    max-width: 380px;
}

footer .newsletter-container .right-side .input-container i {
    margin-left: 10px;
    color: #adb5bd;
    font-size: 18px;
}

footer .newsletter-container .right-side .input-container input {
    outline: none;
    border: none;
    background-color: transparent;
    font-family: "Mandali", sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: white;
}

footer .newsletter-container .right-side .input-container button {
    background-color: #1ce1ac;
    outline: none;
    border: none;
    font-family: "Mandali", sans-serif;
    font-size: 16px;
    color: white;
    font-weight: 500;
    padding: 5px 20px;
    border-radius: 5px;
    cursor: pointer;
}

footer .newsletter-container .right-side .input-container button:hover {
    transition: all 0.5s;
    box-shadow: 0 4px 8px 0 rgba(28, 225, 172, 0.2), 0 6px 20px 0 rgba(28, 225, 172, 0.19);
}

@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../fonts/cerebrisans-light.eot");
    src: local("Cerebri-sans Light"), url("../fonts/cerebrisans-light.woff") format("woff");
    font-weight: 300;
}
  
@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../fonts/cerebrisans-regular.eot");
    src: local("Cerebri-sans Regular"), url("../fonts/cerebrisans-regular.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../fonts/cerebrisans-medium.eot");
    src: local("Cerebri-sans Medium"), url("../fonts/cerebrisans-medium.woff") format("woff");
    font-weight: 500;
}

@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../fonts/cerebrisans-semibold.eot");
    src: local("Cerebri-sans Semibold"), url("../fonts/cerebrisans-semibold.woff") format("woff");
    font-weight: 600;
}

@font-face {
    font-family: "Cerebri Sans,sans-serif";
    src: url("../fonts/cerebrisans-bold.eot");
    src: local("Cerebri-sans Bold"), url("../fonts/cerebrisans-bold.woff") format("woff");
    font-weight: 700;
}

.green-text {
    font-family: "Mandali", sans-serif;
    color: #1ce1ac;
}

.default-text {
    font-family: "Mandali", sans-serif;
    color:#6c757d;
}

.dark-text-color {
    color: #343a40;
}

.font-size-16 {
    font-size: 16px;
}

.font-size-18 {
    font-size: 18px;
}

.font-size-22{
    font-size: 22px;
}

.font-size-30{
    font-size: 30px;
}

.font-size-48 {
    font-size: 58px;
}

.font-size-58 {
    font-size: 58px;
}

.font-weight-normal {
    font-weight: 500;
}

.bg-light { 
    background-color: #f8f9fa;
}

.bg-white {
    background-color: #fff;
}

.bg-yellow {
    background-color: rgba(255, 194, 18, 0.25);
}

.circle-round {
    border-radius: 100%;
}

.round-5 {
    border-radius: 5px;
}

.text-center {
    text-align: center;
}
