header {
  #hero-box {
    background-image: url("/assets/images/hero-bg.png");
    width: 100%;
    background-size: cover;
    padding: 200px 0px 40px;

    .container {
      .hero-top-section {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 180px;
        justify-content: center;

        .hero-text-container {
          display: flex;
          flex-direction: column;
          max-width: 500px;

          .hero-discount-box {
            margin-bottom: 20px;

            p {
              background-color: rgb(248, 249, 250);
              border: 1px solid rgb(236, 239, 242);
              width: fit-content;
              padding: 0px 10px;
              border-radius: 5px;
            }
          }

          .hero-header,
          .hero-description {
            margin-bottom: 30px;
          }

          .hero-buttons-container {
            display: flex;
            align-items: center;

            button {
              height: 40px;
              border-radius: 100px;
              border: none;
              outline: none;
              font-family: "Mandali", sans-serif;
              font-size: 16px;
              padding: 0px 15px;
              min-width: 150px;
              display: flex;
              align-items: center;
              font-weight: 500;
            }

            .about-button {
              background: linear-gradient(
                to right,
                var(--zalia-spalva) 0%,
                #8cf1d6 100%
              );
              color: #fff;

              i {
                margin-left: 10px;
                font-size: 10px;
              }
            }

            .live-demo-button {
              background-color: transparent;
              color: var(--pilka-spalva);

              i {
                font-size: 40px;
                margin-left: 10px;
                color: var(--pilka-spalva);
              }
            }
          }
        }
      }

      .hero-image {
        img {
          max-height: 350px;
        }
      }

      .hero-box-footer-list {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;

        .hero-box-footer {
          img {
            width: 150px;
          }
        }
      }
    }
  }
}
