.project-box {
  padding: 80px 0px;
  flex-wrap: wrap;
}

.project-box .project-header {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;
}

.project-box .project-header-cont {
  text-align: center;
  max-width: 500px;
}

.project-box .project-navbar-cont {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
  max-width: 1100px;
}

.project-box .project-navbar-cont .project-navbar-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 0;
}

.project-box .project-navbar-cont .project-navbar-list .project-navbar-item {
  list-style: none;
  background-color: #f8f9fa;
  padding: 2px 15px;
  border-radius: 5px;
  color: var(--pilka-spalva);
  font-family: "Mandali", sans-serif;
}

.project-box
  .project-navbar-cont
  .project-navbar-list
  .project-navbar-item.active {
  background-color: var(--zalia-spalva);
  color: #fff;
}

.project-box .project-list-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 20px;
  column-gap: 20px;
}

.project-box .project-list-cont .project-item {
  max-width: 350px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-box .project-list-cont .project-item .project-item-image img {
  width: 350px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.project-box .project-list-cont .project-item .project-item-description {
  padding: 20px 20px;
}

.project-box .project-list-cont .project-item .project-item-description h1 {
  font-weight: 500;
}

.project-box .project-list-cont .project-item .project-item-description p {
  margin: 0;
}
