main {
  section.brands {
    padding-bottom: 120px;
    .container {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      h1 {
        font-size: 30px;
        margin-bottom: 60px;
        width: 100%;
        text-align: center;
      }

      .brands-list {
        display: flex;
        width: 100%;
        /* gap: 220px; */
        justify-content: space-around;

        .brand {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 80px;
          }
        }
      }
    }
  }

  section.collab-app {
    padding-bottom: 80px;
    h1 {
      font-size: 30px;
      margin-bottom: 60px;
      width: 100%;
      text-align: center;
    }

    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      .middle-section {
        display: flex;
        flex-wrap: wrap;
        gap: 400px;
        justify-content: center;

        .left-side {
          max-width: 600px;

          .header {
            border-radius: 10px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
            min-height: 45px;
            padding: 10px;

            display: flex;
            justify-content: center;

            button {
              width: 100%;
              border: none;
              outline: none;
              font-size: 16px;
              color: black;
              background-color: transparent;
              font-weight: bold;
              cursor: pointer;
              transition: all 0.3s ease-in-out;
            }

            button:hover {
              background-color: var(--medium-dark-color);
              border: 2px solid #9a54bc;
              border-radius: 10px;
              color: #fff;
              font-weight: normal;
            }

            button.active {
              background-color: var(--medium-dark-color);
              border: 2px solid #9a54bc;
              border-radius: 10px;
              color: #fff;
              font-weight: normal;
              cursor: default;
            }
          }

          .answer-list {
            margin-top: 60px;
            display: flex;
            flex-wrap: wrap;
            gap: 10px;

            .answer {
              background-color: #f2f2f2;
              gap: 10px;
              width: 100%;
              padding: 30px 20px;

              p {
                span {
                  font-weight: bold;
                }

                a {
                  text-decoration: none;
                  font-weight: normal;
                  color: black;
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
    }
  }
}
