.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-end {
    text-align:end;
}

.text-start {
    text-align:start;
}

.text-justify {
    text-align:justify;
}

.border { 
    border: 1px solid black;
}

.bg-green {
    background-color: rgb(101, 179, 101);
}

.box-padding {
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 40px;
    padding-top: 10px;
}

.box-margin {
    margin-bottom: 70px;
}

nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    background-color: rgb(175, 192, 192);
    padding: 20px;
    gap: 20px;
    justify-content: space-around;

    /* Vertikali vaiku pozicionavimas */
    /* Veiks tik elementui turint auksti */
    height: 200px;
    align-items: center;
}
